.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.subscribe-modal {
  position: relative;
  width: 90%;
  max-width: 450px;
  padding: 40px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--color-white);
}

.close-btn:hover {
  color: var(--color-gold);
}
